.header {
  width: 100%;
  display: flex;
  color: var(--text-color-secondary);
  padding: 0 20px;

  &__item {
    flex: 1;
    position: relative;
    text-align: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 15px;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;
      color: var(--primary-color);
    }

    &:active {
      color: var(--text-color-secondary);
    }
  }

  &__itemActive {
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 10px 0 15px;
    cursor: pointer;
    color: tomato;

    &:hover,
    &:focus {
      outline: transparent;
      color: var(--primary-color);
    }

    &:active {
      color: var(--text-color-secondary);
    }
  }
}

.arrow {
  position: absolute;
  width: 15px;
  right: 0;
  height: 15px;
  object-fit: cover;
  background-size: contain;
  background-image: url(../../assets//images/arrow-top.svg);
  margin-left: 10px;
  opacity: 0;
}

.arrow.arrowTop {
  opacity: 1;
}

.arrow.arrowDown {
  opacity: 1;
  transform: rotate(180deg);
}

.sideBarOpenBtn {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 10px;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover, &:focus {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #000000;
  }
}

[data-theme="dark"] .sideBarOpenBtn {
  border: 1px solid var(--primary-color);
  background-color: transparent;

  &:hover, &:focus {
    background-color: var(--primary-color);
    color: #000000;
  }
}

@media screen and (max-width:992px) {
  .header__item {

    &:nth-child(4),
    &:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width:420px) {
  .header__item {
    &:nth-child(2) {
      display: none;
    }
  }
}