.inner {
  display: flex;
  justify-content: space-between;
}

.smallContainer {
  max-width: 350px;
  width: 100%;
  padding: 35px 30px;
  box-shadow: var(--box-shadow);
  text-align: center;
  background-color: var(--background-color-light);
  border-radius: 12px;
  margin-right: 51px;
  height: 100%;
}

.bigContainer {
  width: 100%;
  padding: 35px 0;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
  border-radius: 12px;
}

.imageContainer {
  max-width: 283px;
  height: 215px;
  margin-bottom: 25px;
}

.name {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}

.region {
  margin-bottom: 40px;
}

.miniInfoContainer {
  display: flex;
  justify-content: space-between;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.descriptionName {
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 500;
  min-width: 20%;
}

.descriptionText {
  white-space: break-spaces;
  margin: 0;
}

.row {
  padding: 20px 40px;
  border-bottom: 1px solid var(--background-color-dark);
  display: flex;
  justify-content: space-between;
}

.details {
  padding: 0 35px;
  margin-bottom: 20px;
}

.counter {
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}

.progress[value] {
  appearance: none;
  width: 130px;
  height: 6px;
  border-radius: 12px;
}

.progress[value]::-webkit-progress-bar {
  background-color: var(--text-color-secondary);
  border-radius: 12px;
}

.progress[value]::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 12px;
}

.gini {
  display: flex;
  align-items: center;
}

.neighbourTitle {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.neighbourContainer {
  padding: 40px 40px 10px;
}

.neighbourFlagContainer {
  display: flex;
  margin-bottom: 7px;
}

.neighbourFlag {
  width: 80px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.neighbourName {
  font-size: 12px;
  width: 80px;
  text-align: center;
}

.neighbourLink {
  margin: 0 10px 30px;
}

@media screen and (max-width: 992px) {
  .inner {
    flex-direction: column;
  }

  .smallContainer {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .imageContainer {
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  .miniInfoContainer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {

  .imageContainer {
    max-width: 100%;
    height: 100%;
  }

  .row {
    flex-direction: column;
    text-align: center;
  }

  .gini {
    justify-content: center;
  }

  .descriptionName {
    margin-bottom: 20px;
  }

  .neighbourTitle {
    text-align: center;
  }

  .details {
    text-align: center;
  }

  .progress[value] {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {

  .neighbourLink {
    width: 100%;
  }
}